<section id="section6">
	<div class="container-fluid">
		<h1>Let's get in touch !</h1>
		<p>If you are interested in working with me or simply want to discuss about table tennis, web development, etc ... please do contact me via one of those social networks</p>
		<div class="social row">
			<div class="col-lg-12">
				<div class="col-lg-4">
					<%= link_to "https://www.facebook.com/adrien.nhem.officiel", target: "_blank" do %>
					<%= image_tag("fb.png", height: "90", width: "90") %><% end %></div>


				<div class="col-lg-4">
					<%= link_to "http://uk.linkedin.com/in/adriennhem/", target: "_blank" do %>
					<%= image_tag("linkedin.png", height: "90", width: "90") %>
					<% end %></div>
				<div class="col-lg-4">


					<%= link_to "https://twitter.com/AdrienNhem", target: "_blank" do %>
					<%= image_tag("twitter.png", height: "90", width: "90") %>
					<% end %>

				</div>
			</div>
		</div> <!-- end of row -->
	</div>
</section>

