<!DOCTYPE html>
<html>
<head>
  <title>Adrien Nhem : Project Manager and Entrepreneur to be hired</title>
  <meta name="keywords" content="Project Manager, Entrepreneur, Developer, Bloger, Resume, Hire Me, Technology, CSS, Freelance, Portfolio, Motivated, Table Tennis" />
  <meta name="description" content="This is the resume and blog from Adrien Nhem." />
  <meta name="author" content="Adrien Nhem - http://adriennhem.com" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
<%= yield %>

<%= link_to '#', class: 'scroll-top' do %>
<span class="glyphicon glyphicon-chevron-up"></span>
<% end %>

</body>



</html>
